<md-sidenav md-component-id="MealsOptions" class="md-sidenav-left">
    <br /><br /><br />
    <h4>Delivery Days</h4>
    <br />
    <md-input-container class="md-block" flex-gt-sm="">
        <label>Monday</label>

        <md-select ng-model="reci.Deliver_Monday">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Tuesday</label>

        <md-select ng-model="reci.Deliver_Tuesday">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Wednesday</label>

        <md-select ng-model="reci.Deliver_Wednesday">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Thursday</label>

        <md-select ng-model="reci.Deliver_Thursday">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Friday</label>

        <md-select ng-model="reci.Deliver_Friday">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <h4>Frozen Meals</h4>
    <br />
    <md-input-container class="md-block" flex-gt-sm="">
        <label>Monday</label>

        <md-select ng-model="reci.Frozen_Mon">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Tuesday</label>

        <md-select ng-model="reci.Frozen_Tue">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Wednesday</label>

        <md-select ng-model="reci.Frozen_Wed">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Thursday</label>

        <md-select ng-model="reci.Frozen_Thurs">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
        <label>Friday</label>

        <md-select ng-model="reci.Frozen_Fri">
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
        </md-select>
    </md-input-container>
</md-sidenav>

<legend>Recipient - {{reci.RecipientID}} {{reci.FIRST_NAME}} {{reci.LAST_NAME}} 

    <!--<md-button ng-click="" class="md-icon-button" aria-label="Add" flex="10" ng-hide="deleteMode">
        <md-icon>mode_edit</md-icon>
    </md-button>-->
    
    <md-button ng-click="updateRecipient()" class="md-icon-button" aria-label="Add" flex="10">
        <md-icon>mode_edit</md-icon>
    </md-button>
    
    </legend>

<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="Basic Info">
            <md-content class="md-padding">
                <div class="">
                    <!--<div class="container col-lg-12 ">-->
                    <form class="form-horizontal">
                        <fieldset>
                            <!--<legend>Recipient - {{reci.RecipientID}}</legend>-->

                            <!--<md-datepicker ng-model="" md-placeholder={{reci.BIRTH_DATE}}></md-datepicker>-->


                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Last Name</label>
                                    <input ng-model="reci.LAST_NAME">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>First Name</label>
                                    <input ng-model="reci.FIRST_NAME">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>MI</label>
                                    <input ng-model="reci.MID_NAME">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Title</label>
                                    <input ng-model="reci.TITLE">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Active</label>

                                    <md-select ng-model="reci.ACTIVE_Y_N">
                                        <md-option value="1">Yes</md-option>
                                        <md-option value="0">No</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Temp</label>

                                    <md-select ng-model="reci.Temp">
                                        <md-option value="1">Yes</md-option>
                                        <md-option value="0">No</md-option>
                                    </md-select>
                                </md-input-container>



                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container>
                                    <label>Date 1st on</label>
                                    <md-datepicker ng-model="reci.Date1stOn" disabled=""></md-datepicker>
                                </md-input-container>

                                <md-input-container>
                                    <label>Start Date</label>
                                    <md-datepicker ng-model="reci.Date_Start"></md-datepicker>
                                </md-input-container>

                                <md-input-container>
                                    <label>Mod Date</label>
                                    <md-datepicker ng-model="reci.ModificationDate" disabled=""></md-datepicker>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Street 1</label>
                                    <input ng-model="reci.STREET_1">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Street 2</label>
                                    <input ng-model="reci.STREET_2">
                                </md-input-container>

                                <md-input-container>
                                    <label>Date off</label>
                                    <md-datepicker ng-model="reci.Date_Off"></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Reason off</label>

                                    <md-select ng-model="reci.Reason_Off">
                                        <md-option value=""></md-option>
                                        <md-option value="D">Death</md-option>
                                        <md-option value="H">Hospital</md-option>
                                        <md-option value="M">Manage Now</md-option>
                                        <md-option value="N">Nursing Home</md-option>
                                        <md-option value="O">Other</md-option>
                                        <md-option value="P">Provider/Helper</md-option>
                                        <md-option value="R">Relocate</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <label>DOB</label>
                                    <md-datepicker ng-model="reci.BIRTH_DATE"></md-datepicker>
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>City</label>
                                    <input ng-model="reci.CITY">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>State</label>
                                    <input ng-model="reci.STATE">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Zip</label>
                                    <input ng-model="reci.ZIP">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Area</label>
                                    <input ng-model="reci.HomePhoneAreaCode">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Home</label>
                                    <input ng-model="reci.HOME_PHONE">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Area</label>
                                    <input ng-model="reci.CellPhoneAreaCode">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Cell</label>
                                    <input ng-model="reci.CellPhone">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Email</label>
                                    <input ng-model="reci.email">
                                </md-input-container>

                            </div>

                        </fieldset>

                    </form>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Personal Info">
            <md-content class="md-padding">
                
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Ethnic</label>

                        <md-select ng-model="reci.ETHNIC_INF">
                            <md-option value=""></md-option>
                            <md-option value="White">White</md-option>
                            <md-option value="Black">Black</md-option>
                            <md-option value="Hispanic">Hispanic</md-option>
                            <md-option value="Unknown">Unknown</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Sex</label>

                        <md-select ng-model="reci.SEX">
                            <md-option value=""></md-option>
                            <md-option value="F">F</md-option>
                            <md-option value="M">M</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Marital Status</label>

                        <md-select ng-model="reci.MAR_STATUS">
                            <md-option value="Married">Married</md-option>
                            <md-option value="Single">Single</md-option>
                            <md-option value="Divorced">Divorced</md-option>
                            <md-option value="Widowed">Widowed</md-option>
                            <md-option value="Unknown">Unknown</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Spouse On</label>

                        <md-select ng-model="reci.SPOUSE_ON">
                            <md-option value="1">Yes</md-option>
                            <md-option value="0">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Spouse ID</label>
                        <input ng-model="reci.SpouseRecipientNum">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Veteran</label>

                        <md-select ng-model="reci.Veteran">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Physical Condition</label>
                        <input ng-model="reci.PHYS_COND">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <h4>Payment Info</h4>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Recipient</label>
                        <input ng-model="reci.RecipientID" disabled="">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Paying</label>

                        <md-select ng-model="reci.PAYING_Y_N">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Who Pays</label>
                        <input ng-model="reci.WHO_PAYS">
                    </md-input-container>

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Financial Assistance</label>

                        <md-select ng-model="">
                            <md-option value="Food Stamps">Food Stamps</md-option>
                            <md-option value="SSI">SSI</md-option>
                            <md-option value="In Home Provider">In Home Provider</md-option>
                            <md-option value="Home Health">Home Health</md-option>
                            <md-option value="Other">Other</md-option>
                        </md-select>
                    </md-input-container>-->

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Financial Condition</label>
                        <input ng-model="reci.FIN_CONDTN">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Comments</label>
                        <input ng-model="reci.COMMENTS">
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Reffered By">
            <md-content class="md-padding">
                
                <div layout-gt-sm="row">

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Reffered By</label>
                        <md-select ng-model="reci.Referred_By" placeholder="{{reci.Referred_By}}">
                            <md-option value=""></md-option>
                            <md-option ng-repeat="people in referedBy" value="{{people.abbrev}}">
                                {{people.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Reffered By</label>
                        <md-select ng-model="reci.Referred_By">
                            <md-option value=""></md-option>
                            <md-option ng-value="people.Value2" ng-repeat="people in refferedBy">
                                {{people.Value2}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Contact</label>
                        <input ng-model="reci.REFERD_BY">
                    </md-input-container>-->

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Contact Phone</label>
                        <input ng-model="reci.REF_HME_PH">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Contact Work Phone</label>
                        <input ng-model="reci.REF_WRK_PH">
                    </md-input-container>

                </div>
                
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Dr Letter</label>

                        <md-select ng-model="reci.Dr_Letter">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Dr Name</label>
                        <input ng-model="reci.Dr_Name">
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Doctor Info">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Recipient</label>
                        <input ng-model="reci.RecipientID" disabled="">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Doctor Name</label>
                        <input ng-model="reci.Doctors_Name">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Doctors Phone Number</label>
                        <input ng-model="reci.Doctors_Phone_No">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Doctors Comments</label>
                        <input ng-model="reci.Doctors_Comments">
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Emergency Contacts">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Contact Name</label>
                        <input ng-model="EmergencyContactAdd.addEMR_CON_1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Home Phone</label>
                        <input ng-model="EmergencyContactAdd.addEMR_CON1HM">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Work Phone</label>
                        <input ng-model="EmergencyContactAdd.addEMR_CON1WK">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cell Phone</label>
                        <input ng-model="EmergencyContactAdd.addEmergCellPhone">
                    </md-input-container>

                    <md-button ng-click="addEmergencyContact($event)" class="md-icon-button" aria-label="Add" flex="10">
                        <md-icon>add</md-icon>
                    </md-button>



                </div>

                <div layout-gt-sm="row" ng-repeat="EmergencyCont in EmergencyContact"><!--EmergencyContact-->

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Contact Name</label>
                        <input ng-model="EmergencyCont.EMR_CON_1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Home Phone</label>
                        <input ng-model="EmergencyCont.EMR_CON1HM">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Work Phone</label>
                        <input ng-model="EmergencyCont.EMR_CON1WK">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cell Phone</label>
                        <input ng-model="EmergencyCont.EmergCellPhone">
                    </md-input-container>

                    <md-button ng-click="modEmergencyContact(EmergencyCont.EmergencyID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="!deleteMode">
                        <md-icon>mode_edit</md-icon>
                    </md-button>

                    <md-button ng-click="deleteEmergencyContact(EmergencyCont.EmergencyID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="deleteMode">
                        <md-icon>delete</md-icon>
                    </md-button>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Next of Kin">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Name</label>
                        <input ng-model="NextOfKinAdd.addN_KIN_CITY">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Phone</label>
                        <input ng-model="NextOfKinAdd.addNOK_HME_PH">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Work Phone</label>
                        <input ng-model="NextOfKinAdd.addNOK_WRK_PH">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cell Phone</label>
                        <input ng-model="NextOfKinAdd.addNOKCellPhone">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Relationship</label>
                        <input ng-model="NextOfKinAdd.addNOK_TYPE">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Street</label>
                        <input ng-model="NextOfKinAdd.addNOK_ADDR_1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>City, State, Zip</label>
                        <input ng-model="NextOfKinAdd.addNOK_ADDR_2">
                    </md-input-container>

                    <md-button ng-click="addNextOfKin($event)" class="md-icon-button" aria-label="Add" flex="10">
                        <md-icon>add</md-icon>
                    </md-button>



                </div>

                <div layout-gt-sm="row" ng-repeat="NextOfKi in NextOfKin">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Name</label>
                        <input ng-model="NextOfKi.N_KIN_CITY">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Phone</label>
                        <input ng-model="NextOfKi.NOK_HME_PH">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Work Phone</label>
                        <input ng-model="NextOfKi.NOK_WRK_PH">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cell Phone</label>
                        <input ng-model="NextOfKi.NOKCellPhone">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Relationship</label>
                        <input ng-model="NextOfKi.NOK_TYPE">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Street</label>
                        <input ng-model="NextOfKi.NOK_ADDR_1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>City, State, Zip</label>
                        <input ng-model="NextOfKi.NOK_ADDR_2">
                    </md-input-container>

                    <md-button ng-click="modNextOfKin(NextOfKi.NextOfKinID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="!deleteMode">
                        <md-icon>mode_edit</md-icon>
                    </md-button>

                    <md-button ng-click="deleteNextOfKin(NextOfKi.NextOfKinID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="deleteMode">
                        <md-icon>delete</md-icon>
                    </md-button>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Comments">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container>
                        <label>Date</label>
                        <md-datepicker ng-model="CommentsAdd.addCommentDate"></md-datepicker>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Comment</label>
                        <input ng-model="CommentsAdd.addComment">
                    </md-input-container>

                    <md-button ng-click="addComment($event)" class="md-icon-button" aria-label="Add" flex="10">
                        <md-icon>add</md-icon>
                    </md-button>

                </div>



                            <div layout-gt-sm="row" dir-paginate="Comment in Comments | itemsPerPage: pageSize">

                                <md-input-container>
                                    <label>Date</label>
                                    <md-datepicker ng-model="Comment.Date"></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Comment</label>
                                    <input ng-model="Comment.COMMENTS">
                                </md-input-container>

                                <md-button ng-click="modComment(Comment.CommentID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="!deleteMode">
                                    <md-icon>mode_edit</md-icon>
                                </md-button>

                                <md-button ng-click="deleteComment(Comment.CommentID)" class="md-icon-button" aria-label="Add" flex="10" ng-if="deleteMode">
                                    <md-icon>delete</md-icon>
                                </md-button>

                            

                        </div>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app\recipientInfo\dirPagination.tpl.html"></dir-pagination-controls>

</md-content>
        </md-tab>

        <md-tab label="Delivery Instr.">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-button class="btn btn-block md-primary md-raised" ng-click="toggleMealsOptions();">
                        Meals Options
                    </md-button>

                </div>

                <div layout-gt-sm="row">

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Recipient</label>
                        <input ng-model="reci.RecipientID" disabled="">
                    </md-input-container>-->

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Delivery Inst</label>
                        <input ng-model="reci.DEL_INST">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Route Number</label>
                        <md-select ng-model="reci.Route_Number">
                            <md-option ng-value="people.Value1" ng-repeat="people in routes">
                                {{people.Value1}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Route Sequence</label>
                        <input type="number" ng-model="reci.ROUTE_SEQ">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Authorized By</label>
                        <input ng-model="reci.AUTH_BY">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Special</label>
                        <input ng-model="reci.SPECIAL">
                    </md-input-container>


                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Delivery Days</label>
                        <input ng-model="reci.Delivery_Days">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Special Diet</label>

                        <md-select ng-model="reci.DIET_Y_N">
                            <md-option value="1">Yes</md-option>
                            <md-option value="0">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Diet Type</label>

                        <md-select ng-model="reci.DIET_TYPE">
                            <md-option value="DIABETIC">Diabetic</md-option>
                            <md-option value="REGULAR">Regular</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Sack Type</label>

                        <md-select ng-model="reci.Sack_Meal_Type">
                            <md-option value="DIABETIC">Diabetic</md-option>
                            <md-option value="REGULAR">Regular</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Deliver Frozen Meals</label>
                        <input ng-model="reci.Deliver_Frozen_Meals">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Off Days</label>
                        <input ng-model="reci.Off_Days">
                    </md-input-container>

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Breaskfast Sacks</label>
                        <input ng-model="reci.Breakfast_Sacks">
                    </md-input-container>-->

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Breaskfast Sacks</label>

                        <md-select ng-model="reci.Breakfast_Sacks">
                            <md-option value="0">0</md-option>
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                            <md-option value="6">6</md-option>
                            <md-option value="7">7</md-option>
                            <md-option value="8">8</md-option>
                            <md-option value="9">9</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <h4>Off Days</h4>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Monday</label>

                        <md-select ng-model="reci.Off_Mon">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Tuesday</label>

                        <md-select ng-model="reci.Off_Tue">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Wednesday</label>

                        <md-select ng-model="reci.Off_Wed">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Thursday</label>

                        <md-select ng-model="reci.Off_Thurs">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Friday</label>

                        <md-select ng-model="reci.Off_Fri">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Pet Information">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Pets</label>

                        <md-select ng-model="reci.Pets">
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Dogs</label>

                        <md-select ng-model="reci.Dogs">
                            <md-option value="0">0</md-option>
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                            <md-option value="6">6</md-option>
                            <md-option value="7">7</md-option>
                            <md-option value="8">8</md-option>
                            <md-option value="9">9</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cats</label>

                        <md-select ng-model="reci.Cats">
                            <md-option value="0">0</md-option>
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                            <md-option value="6">6</md-option>
                            <md-option value="7">7</md-option>
                            <md-option value="8">8</md-option>
                            <md-option value="9">9</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Pet Comments</label>
                        <input ng-model="reci.Pet_Comments">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Pet Route</label>
                        <input ng-model="reci.Pet_Route_Number">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Pet Sequence</label>
                        <input ng-model="reci.Pet_Sequence">
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Case Management">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Smoke Detector</label>

                        <md-select ng-model="reci.Smoke_Detector">
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Smoke Alarm Installed</label>

                        <md-select ng-model="reci.Smoke_Alarm_Inst">
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Needs Fan</label>

                        <md-select ng-model="reci.Need_Fan">
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                    </md-input-container>

                    <!--<md-input-container class="md-block" flex-gt-sm="">
                        <label>Fan Delivered</label>

                        <md-select ng-model="reci.Fan_Delivered">
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container>
                        <label>Fan Delivered</label>
                        <md-datepicker ng-model="reci.Fan_Delivered"></md-datepicker>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Lives Alone</label>

                        <md-select ng-model="reci.Lives_Alone">
                            <md-option value="True">Yes</md-option>
                            <md-option value="False">No</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Number in Household</label>

                        <md-select ng-model="reci.No_In_Household">
                            <md-option value="0">0</md-option>
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                            <md-option value="6">6</md-option>
                            <md-option value="7">7</md-option>
                            <md-option value="8">8</md-option>
                            <md-option value="9">9</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Risk Level</label>

                        <md-select ng-model="reci.Risk_Level">
                            <md-option value="Low Risk">Low Risk</md-option>
                            <md-option value="Medium Risk">Medium Risk</md-option>
                            <md-option value="High Risk">High Risk</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Risk Level Comments</label>
                        <input ng-model="reci.Risk_Level_Comments">
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container>
                        <label>Home Visit</label>
                        <md-datepicker ng-model="reci.Home_Visit_Date"></md-datepicker>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Assessment Comments</label>
                        <input ng-model="reci.Assessment_Comments">
                    </md-input-container>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Delete">
            <md-content class="md-padding">

                <div layout-gt-sm="row">

                    <!--<md-switch ng-model="deleteMode" aria-label="Switch 1">
                        Delete Mode: {{ deleteMode }}
                    </md-switch>-->

                    <md-switch ng-model="deleteMode" aria-label="Switch 1">
                        Mode: <i ng-if="!deleteMode">edit</i><i ng-if="deleteMode">delete</i>
                    </md-switch>

                </div>



                <div layout-gt-sm="row">

                    <md-button class="btn btn-block md-primary md-raised" ng-click="showDeleteConfirm($event)">
                        Delete Recipient
                    </md-button>

                </div>

            </md-content>
        </md-tab>

    </md-tabs>
</md-content>

<!--a class="btn btn-default btn-sm" ng-click="toggleLeft()">Personal Info.</a>
<a href="#" class="btn btn-default btn-sm">Reffered By</a>
<a href="#" class="btn btn-default btn-sm">Doctor Info</a>

<a href="#" class="btn btn-default btn-sm">Emergency Contacts</a>
<a href="#" class="btn btn-default btn-sm">Next of Kin</a>
<a href="#" class="btn btn-default btn-sm">Comments</a>

<a href="#" class="btn btn-default btn-sm">Delivery Instr.</a>
<a href="#" class="btn btn-default btn-sm">Pet Information</a>
<a href="#" class="btn btn-default btn-sm">Case Management</a>-->

<!--<div class="container col-lg-12 ">
  <form class="form-horizontal">
    <fieldset>
      <legend>Recipient - {{reci.RecipientID}}</legend>


        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Last Name</label>
                <input ng-model="reci.LAST_NAME">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>First Name</label>
                <input ng-model="reci.FIRST_NAME">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>MI</label>
                <input ng-model="reci.MID_NAME">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Title</label>
                <input ng-model="reci.TITLE">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Active</label>

                <md-select ng-model="reci.ACTIVE_Y_N">
                    <md-option value="1">Yes</md-option>
                    <md-option value="0">No</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Temp</label>

                <md-select ng-model="reci.Temp">
                    <md-option  value="1">Yes</md-option>
                    <md-option value="0">No</md-option>
                </md-select>
            </md-input-container>

            

        </div>

        <div layout-gt-sm="row">

            <md-input-container>
                <label>Date 1st on</label>
                <md-datepicker ng-model="reci.Date1stOn" disabled=""></md-datepicker>
            </md-input-container>

            <md-input-container>
                <label>Start Date</label>
                <md-datepicker ng-model="reci.Date_Start" disabled=""></md-datepicker>
            </md-input-container>

            <md-input-container>
                <label>Mod Date</label>
                <md-datepicker ng-model="reci.ModificationDate" disabled=""></md-datepicker>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Street 1</label>
                <input ng-model="reci.STREET_1">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Street 2</label>
                <input ng-model="reci.STREET_2">
            </md-input-container>

            <md-input-container>
                <label>Date off</label>
                <md-datepicker ng-model="reci.Date_Off"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Reason off</label>

                <md-select ng-model="reci.Reason_Off">
                    <md-option value=""></md-option>
                    <md-option value="D">Death</md-option>
                    <md-option value="H">Hospital</md-option>
                    <md-option value="M">Manage Now</md-option>
                    <md-option value="N">Nursing Home</md-option>
                    <md-option value="O">Other</md-option>
                    <md-option value="P">Provider/Helper</md-option>
                    <md-option value="R">Relocate</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>DOB</label>
                <md-datepicker ng-model="reci.BIRTH_DATE"></md-datepicker>
            </md-input-container>

        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm="">
                <label>City</label>
                <input ng-model="reci.CITY">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>State</label>
                <input ng-model="reci.STATE">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Zip</label>
                <input ng-model="reci.ZIP">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Area</label>
                <input ng-model="reci.HomePhoneAreaCode">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Home</label>
                <input ng-model="reci.HOME_PHONE">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Area</label>
                <input ng-model="reci.CellPhoneAreaCode">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Cell</label>
                <input ng-model="reci.CellPhone">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
                <label>Email</label>
                <input ng-model="reci.email">
            </md-input-container>

        </div>

     </fieldset>

  </form>


  <div class="btn-group btn-group-justified">
    <a class="btn btn-default btn-sm" ng-click="toggleLeft()">Personal Info.</a>
    <a href="#" class="btn btn-default btn-sm">Reffered By</a>
    <a href="#" class="btn btn-default btn-sm">Doctor Info</a>

    <a href="#" class="btn btn-default btn-sm">Emergency Contacts</a>
    <a href="#" class="btn btn-default btn-sm">Next of Kin</a>
    <a href="#" class="btn btn-default btn-sm">Comments</a>

    <a href="#" class="btn btn-default btn-sm">Delivery Instr.</a>
    <a href="#" class="btn btn-default btn-sm">Pet Information</a>
    <a href="#" class="btn btn-default btn-sm">Case Management</a>
  </div>

</div>-->

<!--

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <span class="label label-default">ID</span><br> {{reci.RecipientID}}
    </div>
    <div class="col-sm-1">
      <span class="label label-default">Last Name</span>
      <input class="form-control input-sm" ng-model="reci.LAST_NAME">
    </div>
    <div class="col-sm-1">
      <span class="label label-default">First Name</span>
      <input class="form-control input-sm" ng-model="reci.FIRST_NAME">
    </div>
    <div class="col-sm-1">
      <span class="label label-default">MI</span>
      <input class="form-control input-sm" ng-model="reci.MID_NAME">
    </div>
    <div class="col-sm-1">
      <span class="label label-default">Title</span>
      <input class="form-control input-sm" ng-model="reci.TITLE">
    </div>
    <div class="col-sm-1">
      <span class="label label-default">Active</span>
      <div class="checkbox">
          <label>
            <input ng-model="reci.ACTIVE_Y_N" type="checkbox">
         
          </label>
        </div>
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-1">
      One of three columns
    </div>

  </div>
</div>-->